@{
    ViewBag.Title = "Attendance";
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div class="row">
        @Html.Partial("AdminHeader")
    </div>
    <h2>Attendance</h2>

</body>
</html>